{% load static %}
<!DOCTYPE html>
<html>
<head>
  <style>
  .no-underline {
    text-decoration: none;
  }
  </style>
  <title>OneMass - Спортивное питание</title>
  <link rel="stylesheet" href="{% static 'main/css/flex.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <a href="" class="logo">
          <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
        </a>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="">Продукция</a></li>
          <li><a href="">Доставка</a></li>
          <li><a href="">О нас</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
    </nav>
    <div class="hero">
      <div class="container">
        <h1>OneMass - твой путь к идеальной форме!</h1>
        <a href="" class="btn">Купить сейчас</a>
      </div>
    </div>
  </header>

  <section class="featured-products">
  <div class="container">
    <h2>Популярные товары</h2>
    <div class="product-wrapper">
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
            <div class="card-info">
              <h3>Whey Protein</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
            <div class="card-info">
              <h3>Pre-Workout</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
            <div class="card-info">
              <h3>BCAA</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
            <div class="card-info">
              <h3>Creatine Monohydrate</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
            <div class="card-info">
              <h3>Mass Gainer</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture">
            <div class="card-info">
              <h3>Mass Gainer</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="product">
        <a href="#" class="no-underline">
          <div class="card">
            <img src="{% static 'main/img/protein.jpg' %}" alt="Picture2">
            <div class="card-info">
              <h3>Mass Gainer</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

  <footer>
    <div class="container">
      <p>&copy; 2023 OneMass - Спортивное питание</p>
    </div>
  </footer>
</body>
</html>
